@model IEnumerable<web.Models.transactionView>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.category_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sub_category_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.object_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.events_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_profile_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.domain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time_stamp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.category_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sub_category_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.object_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.events_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_profile_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.domain)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time_stamp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
